
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.AssemblyInfo.cs
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.AssemblyInfoInputs.cache
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.csproj.CoreCompileInputs.cache
src/bin/Debug/netcoreapp2.2/mlnet-sound-classifier.deps.json
src/bin/Debug/netcoreapp2.2/mlnet-sound-classifier.dll
src/bin/Debug/netcoreapp2.2/mlnet-sound-classifier.pdb
src/bin/Debug/netcoreapp2.2/mlnet-sound-classifier.runtimeconfig.dev.json
src/bin/Debug/netcoreapp2.2/mlnet-sound-classifier.runtimeconfig.json
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.assets.cache
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.csproj.FileListAbsolute.txt
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.csprojAssemblyReference.cache
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.dll
src/obj/Debug/netcoreapp2.2/mlnet-sound-classifier.pdb
src/obj/mlnet-sound-classifier.csproj.nuget.cache
src/obj/mlnet-sound-classifier.csproj.nuget.dgspec.json
src/obj/mlnet-sound-classifier.csproj.nuget.g.props
src/obj/mlnet-sound-classifier.csproj.nuget.g.targets
src/obj/project.assets.json
